@font-face {
font-family: Georgia;
src: url(fonts/georgia.ttf);
}

@font-face {
    font-family: Arial;
    src: url(fonts/arial.ttf);
    }


* { /*обнуляю края браузера*/
        padding: 0;
        margin: 0;
        border: 0;
    }
    
    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    :focus,
    :active {
        outline: none;
    }
    
    a:focus,
    a:active {
        outline: none;
    }
    
    a,
    a:visited {
        text-decoration: none;
        color: inherit;
    }
    
    html,
    body {
        height: 100%;
        width: 100%;
        font-size: 14px;
        line-height: 1.6;
        font-weight: 400;
        font-family: Arial, sans-serif;/*добавляю запасной шрифт*/
        scroll-behavior: smooth;
    }
    
    button {
        cursor: pointer;
    }
    
    ul li {
        list-style: none;
    }
    
    p {
        width: auto;
        overflow-wrap: break-word ;
    }
    
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }