@font-face {
font-family: Georgia;
src: url(fonts/georgia.ttf);
}

@font-face {
    font-family: Arial;
    src: url(fonts/arial.ttf);
    }


* { /*обнуляю края браузера*/
        padding: 0;
        margin: 0;
        border: 0;
    }
    
    
:focus,
:active {
    outline: none;
}
    
a:focus,
a:active {
    outline: none;
}
    
a,
a:visited {
    text-decoration: none;
    color: inherit;
}
    
html,
body {
    height: 100%;
    margin: 0 auto;
    display: block;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;
    color: #545454;
    font-family: Arial, sans-serif;/*добавляю запасной шрифт*/
    scroll-behavior: smooth;
    background: gray;
}

::-webkit-scrollbar {
    width: 0;
  }

html {
    box-sizing: border-box;
}
    
button {
    cursor: pointer;
}
    
ul li {
    list-style: none;
}
    
p {
    width: auto;
    overflow-wrap: break-word ;
}

body._lock {
    overflow: hidden;
   }
   
.shadow {
    position: fixed;
    width: 100%;
    height: 0%;
    background: rgba(41, 41, 41, 0.6);
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
    
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.burger {
    display: none;
}

#header {
    background-color: #FFFFFF;
}

.header-wrappier {
    max-width: 1200px;
    padding: 30px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 184px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-logo-title {
    position: absolute;
    font-family: 'Georgia';
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.header-logo-subtitle {
    margin-top: 45px;
    margin-left: 4px;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
}

.nav-ul {
    width: 443px;
    height: 27px;
    gap: 35px;
    display: flex;
    align-items: center;
}

.menu-list {
    width: 443px;
    height: 27px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.menu-item {
    font-style: normal;
    line-height: 160%;
    cursor: pointer;
}

.menu-item-black {
    color:  #292929;
    font-style: normal;
    line-height: 160%;
    border-bottom: 3px solid #F1CDB3;
    margin-top: 3px;
}

.menu-item:hover {
    transition: 0.5s ease-out;
    color: #292929;  
}

#our-friends {
    height: 1342px;
    background: #F6F6F6;
}

.our-friends {
    width: 1200px;
    height: 1162px;
    padding: 80px 0 100px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title {
    width: 400px;
    height: 90px;
    margin-bottom: 60px;

  
}

h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.cards {
    width: 1200px;
    height: 900px;
    margin-bottom: 60px;
}

.navigation {
    width: 340px;
    height: 52px;
    display: flex;
    justify-content: space-between;
}

.nav-1 {
    background-image: url(./assets/1.svg);
    width: 52px;
    height: 52px;
    display: block;
}

.nav-1._active {
    background-image: url(./assets/p-1.svg);
    transform: rotate(-180deg);
}

.nav-1._active:hover {
    background-color:  #F1CDB3;
    border-radius: 100px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.nav-2 {
    background-image: url(./assets/2.svg);
    width: 52px;
    height: 52px;
    display: block;
}

.nav-2._active {
    background-image: url(./assets/p-2.svg);
    transform: rotate(-180deg);
}

.nav-2._active:hover {
    background-color:  #F1CDB3;
    border-radius: 100px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.nav-3 {
    width: 52px;
    height: 52px;

    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
    
    display: flex;
    background:  #F1CDB3;
    border-radius: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.nav-4 {
    background-image: url(./assets/p-2.svg);
    width: 52px;
    height: 52px;
    display: block;
    cursor: pointer;
}

.nav-4._active {
    background-image: url(./assets/2.svg);
    transform: rotate(-180deg);
}

.nav-4._active:hover {
    background-color:   #F6F6F6;
}

.nav-4:hover {
    background-color:  #F1CDB3;
    border-radius: 100px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.nav-5 {
    background-image: url(./assets/p-1.svg);
    width: 52px;
    height: 52px;
    display: block;
    cursor: pointer;
}

.nav-5._active {
    background-image: url(./assets/1.svg);
    transform: rotate(-180deg);
}

.nav-5._active:hover {
    background-color:   #F6F6F6;
}

.nav-5:hover {
    background-color:  #F1CDB3;
    border-radius: 100px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}


footer {
    height: 350px;
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-content {
    width: 100%;
    height: 310px;
    padding-top: 40px;

    display: flex;
    justify-content: space-between;
}

.contacts {
    width: 278px;
    height: 234px;
    margin: 16px 161px 60px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.location {
    width: 302px;
    height: 234px;
    margin: 16px 160px 60px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer img {
    width: 300px;
    height: 310px;
}

.contacts-title {
    width: 288px;
    height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

#footer-link-mail {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: flex;
    align-items: left;
}

#footer-link-tel {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: flex;
    align-items: center;
    text-align: center;
}

#footer-link-pin1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: flex;
    align-items: center;
    text-align: center;
}

#footer-link-pin2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: flex;
    align-items: center;
    text-align: center;
}

.footer-icon-email {
    width: 40px;
    height: 26px;
    margin-right: 20px;
    background-image: url(./assets/mail.svg);
}

.footer-icon-phone {
    width: 40px;
    height: 32px;
    margin-right: 20px;
    background-image: url(./assets/phone.svg);
}

.footer-icon-pin {
    width: 22px;
    height: 32px;
    margin-right: 20px;
    background-image: url(./assets/pin.svg);
}
    
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.choose {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
}

.choose:hover {
    background-color: #fff;
    box-shadow: 0px 2px 35px 14px rgb(13 13 13 / 4%);
    transition: all 0.3s ease-in-out;
}

.choose:hover .choose-button {
    background: #FDDCC4;
    border: #FDDCC4;
    transition: all 0.3s ease-in-out;
    }

.choose-button {
    width: 187px;
    height: 52px;
    margin: 0 41.5px 30px 41.5px;

    border: 2px solid #F1CDB3;
    border-radius: 100px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    align-items: center;
    color: #292929;
    background: #FAFAFA;
}

.choose-img {
    width: 270px;
    height: 270px;
    margin-bottom: 30px;
}

.choose-par {
    min-width: 74px;
    height: 23px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    background: rgba(41, 41, 41, 0.6);
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup-body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.popup-content {
    background: #FAFAFA;
    border-radius: 9px;
    color: #000000;
    width: 900px;
    max-height: 500px;
}

.popup-card {
    display: flex;
}

.popup-img {
    width: 500px;
    height: 500px;

}

.popup-img img {
    width: 500px;
    height: 500px;
}

.img-pop {
    border-radius: 9px 0px 0px 9px;
}

.popup-text {
    width: 351px;
    margin: 50px 20px 0 30px;
    display: flex;
    flex-direction: column;
}

.popup-title {
    font-family: 'Georgia';
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
    color: #000000;
}

.popup-subtitle {
    font-family: 'Georgia';
    font-style: normal;;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    margin-bottom: 40px;
    color: #000000;
}

.popup-par {
    font-family: 'Georgia';
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-bottom: 40px;
    color: #000000;
}

.popup-ul {
    max-width: 300px;
    display: block;
    line-height: 150%;
    color: #F1CDB3;

}

.popup-li {
    list-style-type: disc;
    list-style: inside;
}

.popup-li > span {
    color: black;
    letter-spacing: 0.06em;
}

.span-pop {
    font-weight: bold;
}

.popup-close {
    width: 52px;
    height: 52px;
    margin-left: 890px;
    margin-top: -52px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px;
    text-align: center;

    border: 2px solid #F1CDB3;
    border-radius: 100px;
}

.popup-close:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}


@media (min-width: 767.9px) and (max-width: 1279.9px) {
        
.container {
    max-width: 708px;
}

.burger {
    display: none;
}


#our-friends {
    height: 1733px;
}

.our-friends {
    width: 708px;
    height: 1603px;
    padding: 60px 0 70px 0;
    flex-wrap: wrap;
}

.title {
    margin-bottom: 30px;
}

.cards {
    width: 580px;
    height: 1365px;
    margin: 0 64px 40px 64px;
}

.choose:nth-child(n+7) {
    display: none;
}

footer {
    height: 639px;
}
        
.footer-content {
    width: 708px;
    height: 609px;
    padding-top: 30px;
    flex-wrap: wrap;
}
        
.contacts {
    margin: 0 60px 65px 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
        
.location {
    margin: 0 34px 65px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
        
.footer-content img {
    margin: 0 204px ;
}


.popup-content {
    width: 630px;
    min-height: 350px;
}


.popup-img {
    width: 350px;
    height: 350px;

}

.popup-img img {
    width: 350px;
    height: 350px;
}

.img-pop {
    border-radius: 9px 0px 0px 9px;
}

.popup-text {
    width: 260px;
    min-height: 302px;
    margin: 10px 9px 0 11px;
}

.popup-subtitle {
    margin-bottom: 20px;
}

.popup-par {
    width: 260px;
    min-height: 98px;
    font-size: 13px;
    margin-bottom: 20px;
}

.popup-ul {
    max-width: 200px;
    min-height: 86px;
}


.popup-close {
    margin-left: 623px;
    margin-top: -52px;
}

}

@media (max-width: 767.9px) {

                
.container {
    max-width: 300px;
}

header {
    height: 120px;
}

.nav-ul {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-bottom: 5px;
}

.header-logo {
    position: absolute;
    left: 20px;
    top: 30px;
}

.header-logo-title {
    width: 190px;
    height: 35px;
}

.burger {
    display: block;
    position: absolute;
    top: 49px;
    right: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.burger._active {
    transform: rotate(-90deg);
    transition: all .3s ease;
}

.menu-list {
    overflow: auto;
    position: absolute;
    width: 320px;
    height: 0;
    right: -320px;
    top: 0;
    background: white;
    transition: all 0.3s ease-out;
}

.menu-list._active {
   right: 0;
   height: 100%;
}

.nav-ul {
    display: flex;
    flex-direction: column;
    margin-top: 248px;
   gap: 40px;
}
    
.shadow._active {
    height: 100%;
    opacity: 1;
}

.menu-item-black {
    font-size: 32px;
    line-height: 160%;
}

.menu-item {
    font-size: 32px;
    line-height: 160%;
}


#our-friends {
    height: 1649px;
}

.our-friends {
    width: 300px;
    height: 1565px;
    padding:  42px 0;
    flex-wrap: wrap;
}

.title {
    width: 300px;
    height: 64px;
    font-size: 25px;
    line-height: 130%;
    margin-bottom: 42px;
}

h1 {
    width: 300px;
    height: 64px;
    font-size: 25px;
    line-height: 130%;
    display: block;
}

.cards {
    width: 270px;
    height: 1365px;
    margin: 0 15px;
}

.choose:nth-child(n+4) {
    display: none;
}

.navigation {
    width: 300px;
    height: 52px;
    margin-top: 42px;
} 

footer {
    height: 809px;
}

.footer-content {
    width: 300px;
    height: 779px;
    padding-top: 30px;

    display: flex;
    flex-direction: column;
}

.footer-content img {
    width: 260px;
    height: 269px;
    margin: 0 20px;
}

.contacts {
    width: 278px;
    height: 208px;
    margin: 0 11px 40px 11px;
    justify-content: flex-start;
    align-items: center;
}

.location {
    width: 302px;
    height: 234px;
    margin: 0 0 40px 0;
    justify-content: flex-start;
  
}
    
.footer img {
    width: 300px;
    height: 310px;
}

.contacts-title {
    width: 270px;
    height: 64px;
    margin: 0 15px 40px 15px;
    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
}

#footer-link-mail {
    margin-top: 3px;
    margin-bottom: 43px;
}

#footer-link-pin1 {
     margin-bottom: 40px;
 }

 .popup-content {
     width: 240px;
     min-height: 340px;
 }
 

.popup-img {
    display: none;
}

.popup-text {
    width: none;
    height: none;
    margin: 10px;
}

.popup-title {
    align-items: center;
    text-align: center;
}


.popup-subtitle {
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.popup-par {
    font-size: 13px;
    margin-bottom: 20px;
    text-align: justify;
}

.popup-ul {
    max-width: 180px;
}
    
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    height: auto;
}

.popup-content {
    max-height: none;
}

.popup-close {
    margin-left: 235px;
}

}
