@font-face {
    font-family: Georgia;
    src: url(fonts/georgia.ttf);
    }
    
@font-face {
    font-family: Arial;
    src: url(fonts/arial.ttf);
    }

* { /*обнуляю края браузера*/
    padding: 0;
    margin: 0;
    border: 0;
}


:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

a,
a:visited {
    text-decoration: none;
    color: inherit 
}


html,
body {
    height: 100%;
    margin: 0 auto;
    display: block;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 400;
    color: white;
    font-family: Arial, sans-serif;/*добавляю запасной шрифт*/
    scroll-behavior: smooth;
    background: gray;
}

html {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
  }

button {
    cursor: pointer;
}

ul li {
    list-style: none;
}

p {
    width: auto;
    overflow-wrap: break-word ;
}

body._lock {
 overflow: hidden;
}

.shadow {
    position: fixed;
    width: 100%;
    height: 0%;
    background: rgba(41, 41, 41, 0.6);
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.header-wrappier {
    max-width: 1200px;
    padding: 30px 0 90px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 184px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-logo-title {
    position: absolute;
    font-family: 'Georgia';
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.header-logo-subtitle {
    margin-top: 45px;
    margin-left: 4px;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.burger {
    display: none;
}

.menu-list {
    width: 443px;
    height: 27px;

    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

ul {
    width: 443px;
    height: 27px;
    gap: 35px;
    display: flex;
    align-items: center;
}

.menu-item {
    font-style: normal;
    line-height: 160%;
    color: #CDCDCD;
    cursor: pointer;
}

.menu-item-white {
    font-style: normal;
    line-height: 160%;
    color: #FFFFFF;
    border-bottom: 3px solid #F1CDB3;
    margin-top: 3px;
}

.menu-item:hover {
    transition: 0.5s ease-out;
    color: #FFFFFF;
    
}

#not-only {
    margin-top: -180px;
    padding-top: 180px;
    background-image: url(./pict/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.screen-content {
    height: 728px;
    display: flex;
}

.not-only-text {
    width: 502px;
    height: 728px;
}

.not-only-img {
    max-width: auto;
    height: auto;
}

.not-only-textbox {
    width: 460px;
    height: 322px;
    margin: 163px 42px 0 0;
}

h1 {
    width: 310px;
    height: 114px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    margin-bottom: 42px;
}

.not-only-par {
    color: #CDCDCD;
    margin-bottom: 42px;
}

#not-only-button {
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;

    font-family: 'Georgia';
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;
}

#not-only-button:hover {
    background: #FDDCC4;
    transition: all 0.3s ease-in-out;
}


#about {
  height: 588px;
  background: white;
}

.about {
    padding: 80px 175px 100px 175px;
    width: 850px;
    height: 408px;

    display: flex;
    justify-content: space-between;
}

.about-img {
    width: 300px;
    height: 408px;
}

.about-text {
    width: 430px;
    height: 380px;
}   

.about-par {
    margin-top: 25px;
    color: #4C4C4C;
}

.about-title {
    width: 370px;
    height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-top: 14px;
    color: #545454;
}

#our-friends {
    max-height: 877px;
    background: #F6F6F6;
}

.our-friends {
    width: 990px;
    height: 697px;
    padding: 80px 105px 100px 105px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-friends-title {
    width: 400px;
    height: 90px;
    padding: 0 400px 60px 400px;
}

.our-friends-h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.choose-pets {
    max-width: 1200px;
    height: 435px;
    margin-bottom: 60px;
    display: flex;
}


.our-friends-button {
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-size: 17px;
    line-height: 130%;
    color: #292929;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.our-friends-button:hover {
    background: #FDDCC4;
    transition: all 0.3s ease-in-out;
}

.left-arrow {
    width: 52px;
    height: 52px;
    margin-top: 191.5px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px 19px;
    text-align: center;

    border: 2px solid #F1CDB3;
    border-radius: 100px;
}

.left-arrow:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}

.right-arrow img {
   margin-top: -2px;
}

.left-arrow img {
    margin-top: -2px;
}

.right-arrow {
    width: 52px;
    height: 52px;
    margin-top: 191.5px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px 19px;
    text-align: center;

    border: 2px solid #F1CDB3;
    border-radius: 100px;
    transform: rotate(-180deg);
}

.right-arrow:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}

.pets-wrappier {
    width: 1096px;
    height: 435px;
    overflow: hidden;/*ограничиваю область видимости*/
}

.pets-slide {
    height: 435px;
    margin: 0 53px;
    display: flex;
    gap: 90px;
}



.carousel {
  display: flex;
  position: relative;
  left: -1096px;
}

.choose {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
}

.choose:hover {
    background-color: #fff;
    box-shadow: 0px 2px 35px 14px rgb(13 13 13 / 4%);
    transition: all 0.3s ease-in-out;
}

.choose:hover .choose-button {
    background: #FDDCC4;
    border: #FDDCC4;
    transition: all 0.3s ease-in-out;
}

.choose-button {
    width: 187px;
    height: 52px;
    margin: 0 41.5px 30px 41.5px;

    border: 2px solid #F1CDB3;
    border-radius: 100px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
    align-items: center;
    color: #292929;
    background: #FAFAFA;
}

.choose-img {
    width: 270px;
    height: 270px;
    margin-bottom: 30px;
}

.choose-par {
    min-width: 74px;
    height: 23px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}

@keyframes move-right {
    from {left: -1096px;}
    to {left: -2192px};
}

.transition-right {
    animation-name: move-right;
    animation-duration: 2s;
}

@keyframes move-left {
    from {left: -1096px;}
    to {left: 0px};
}

.transition-left {
    animation-name: move-left;
    animation-duration: 2s;
}

#help {
    background-color: #FFFFFF;
}

.help {
    max-width: 1200px;
    height: 431px;
    padding: 80px 0 100px 0;

    display: flex;
    flex-direction: column;
}

.help-title {
    width: 308px;
    height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.05em;
  
    color: #545454;
}

.help-text {
    width: 308px;
    height: 90px;
    text-align: center;
    padding: 0 446px 60px 446px;
}

.help-par {
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}

.help-list {
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    align-content: center;
}

.help-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 55px 120px;
}

#in-addition {
    height: 462px;
    background: #F6F6F6;
}

.in-addition {
    max-width: 915px;
    height: 282px;
    padding: 80px 142px 100px 142px;
    display: flex;
}

.in-addition-img {
    width: 505px;
    height: 261px;
    padding: 11px 30px 10px 0;
}

.in-addition-text {
    width: 380px;
    height: 282px;
}

.in-addition-title {
    width: 300px;
    height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    margin-bottom: 20px;

    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}


.in-addition-subtitle {
    min-width: 307px;
    height: 17px;
    margin-bottom: 20px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

#credit-card {
    display: flex;
    align-items: center;
    width: 349px;
    height: 43px;
    margin-bottom: 20px;
    gap: 10px;
    background: #F1CDB3;
    border-radius: 9px;
    cursor: pointer;
    color: #545454;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

#credit-card:hover {
    background: #f5d8c4;
    transition: all 0.3s ease-in-out;
}

.in-addition-text {
    width: 380px;
    height: 72px;
    left: 0px;
    top: 210px;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

.card {
    width: 30px;
    height: 23px;
    margin-left: 15px;
    background-image: url(./pict/credit-card.svg);
}

footer {
    height: 350px;
    background-image: url(./pict/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-content {
    width: 100%;
    height: 310px;
    padding-top: 40px;

    display: flex;
    justify-content: space-between;
}

.contacts {
    width: 278px;
    height: 234px;
    margin: 16px 161px 60px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.location {
    width: 302px;
    height: 234px;
    margin: 16px 160px 60px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer img {
    width: 300px;
    height: 310px;
}

.contacts-title {
    width: 288px;
    height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

#footer-link-mail {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: flex;
    align-items: left;
}

#footer-link-tel {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: flex;
    align-items: center;
    text-align: center;
}

#footer-link-pin1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: flex;
    align-items: center;
    text-align: center;
}

#footer-link-pin2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: flex;
    align-items: center;
    text-align: center;
}


.footer-icon-email {
    width: 40px;
    height: 26px;
    margin-right: 20px;
    background-image: url(./pict/mail.svg);
}

.footer-icon-phone {
    width: 40px;
    height: 32px;
    margin-right: 20px;
    background-image: url(./pict/phone.svg);
}

.footer-icon-pin {
    width: 22px;
    height: 32px;
    margin-right: 20px;
    background-image: url(./pict/pin.svg);
}


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    background: rgba(41, 41, 41, 0.6);
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.popup-content {
    background: #FAFAFA;
    border-radius: 9px;
    color: #000000;
    width: 900px;
    max-height: 500px;
}

.popup-card {
    display: flex;
}

.popup-img {
    width: 500px;
    height: 500px;
}

.popup-img img {
    width: 500px;
    height: 500px;
}

.img-pop {
    border-radius: 9px 0px 0px 9px;
}

.popup-text {
    width: 351px;
    margin: 50px 20px 0 30px;
    display: flex;
    flex-direction: column;
}

.popup-title {
    font-family: 'Georgia';
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
    color: #000000;
}

.popup-subtitle {
    font-family: 'Georgia';
    font-style: normal;;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    margin-bottom: 40px;
    color: #000000;
}

.popup-par {
    font-family: 'Georgia';
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-bottom: 40px;
    color: #000000;
}

.popup-ul {
    max-width: 300px;
    display: block;
    line-height: 150%;
    color: #F1CDB3;

}

.popup-li {
    list-style-type: disc;
    list-style: inside;
}

.popup-li > span {
    color: black;
    letter-spacing: 0.06em;
}

.span-pop {
    font-weight: bold;
}

.popup-close {
    width: 52px;
    height: 52px;
    margin-left: 890px;
    margin-top: -52px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px;
    text-align: center;

    border: 2px solid #F1CDB3;
    border-radius: 100px;
}

.popup-close:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}


@media (min-width: 767.9px) and (max-width: 1279.9px) {
  
html,body { 
    overflow-x: hidden; 
}
        
.container {
    max-width: 708px;
}
        
        
.header-wrappier {
    max-width: 708px;
    padding: 30px 0 60px 0;
}
            
            
.header-logo {
    width: 184px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-logo-title {
  position: relative;
  width: 190px;
}
   
.header-logo-subtitle {
    margin-top: 10px;
}
            
.menu-item {
    font-style: normal;
    line-height: 160%;
    color: #CDCDCD;
    cursor: pointer;
}
            
#not-only {
    margin-top: -150px;
    padding-top: 150px;
}
            
.screen-content {
    height: 1015px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
           
.not-only-img {
    width: 569px;
    height: 593px;
}
            
.not-only-img img {
    width: 569px;
    height: 593px
}
        
.not-only-text {
    width: 460px;
    height: 322px;
    margin: 0 124px 100px 0;
}
        
.not-only-textbox {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
            
#not-only-button {
    margin-left: 126px ;
}
         
            
#about {
    height: 1048px;
}
          
.about {
    padding: 80px 136px 100px 136px;
    width: 437px;
    height: 868px;
    flex-direction: column;
}
          
.about-img {
    width: 300px;
    height: 408px;
    margin: 0 68px 0 69px;
    order: 2;
}
          
.about-text {
    margin-bottom: 80px;
    order: 1;
}   
        
.about-title {
     margin: 0;
}
                
        
#our-friends {
    max-height: 877px;
}
        
.our-friends {
    width: 708px;
    height: 697px;
    padding: 80px 0 100px 0;
}
             
.choose-pets {
    width: 708px;
    height: 435px;
}

.pets-wrappier {
    width: 604px;
}

.carousel {
    left: -647px;
  }
        
.pets-slide {
    gap: 40px;
    margin: 0;
}

.choose:first-child{
    width: 0; 
    height: 0;
    overflow: hidden;
}


#item-right {margin-left: 30px;}


@keyframes move-right {
    from {left: -647px;}
    to {left: -1294px}
}

.transition-right {
    animation-name: move-right;
    animation-duration: 1s;
}

@keyframes move-left {
    from {left: -647px;}
    to {left: -27px;}
}

.transition-left {
    animation-name: move-left;
    animation-duration: 1s;
}

        
        
#help {
    height: 779px;
}
        
.help {
    width: 690px;
    height: 599px;
    padding: 80px 9px 100px 9px;
}
        
.help-text {
    padding: 0 191px 60px 191px;
}
        
.help-list {
    width: 230px;
    height: 113px;
}
        
.help-icons {
    width: 690px;
    height: 449px;
    gap: 0;
    align-content: space-between;
}
        
        
#in-addition {
    height: 783px;
}
        
.in-addition {
    max-width: 505px;
    height: 603px;
    padding: 80px 102px 100px 101px;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}
        
.in-addition-img {
    width: 505px;
    height: 261px;
    padding: 0;
    order: 2;
}
        
.in-addition-textbox {
    margin-bottom: 60px;
    margin-left: 63px;
    order: 1;
}
             
footer {
    height: 639px;
}
        
.footer-content {
    width: 708px;
    height: 609px;
    padding-top: 30px;
    flex-wrap: wrap;
}
        
.contacts {
    margin: 0 60px 65px 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
        
.location {
        
    margin: 0 34px 65px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
        
.footer-content img {
    margin: 0 204px ;
}   



.popup-content {
    width: 630px;
    height: 350px;
}


.popup-img {
    width: 350px;
    height: 350px;

}

.popup-img img {
    width: 350px;
    height: 350px;
}

.img-pop {
    border-radius: 9px 0px 0px 9px;
}

.popup-text {
    width: 260px;
    min-height: 302px;
    margin: 10px 9px 0 11px;
}

.popup-subtitle {
    margin-bottom: 20px;
}

.popup-par {
    width: 260px;
    height: 98px;
    font-size: 13px;
    margin-bottom: 20px;
}

.popup-ul {
    max-width: 200px;
    min-height: 86px;
}


.popup-close {
    margin-left: 623px;
    margin-top: -52px;
}

    }

@media (max-width: 767.9px) {
            
.container {
    max-width: 300px;
}

header {
    height: 150px;
}

.header-wrappier {
    padding-left: 10px;
    padding-right: 53px;
}

ul {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-bottom: 5px;

}

.header-logo {
    position: absolute;
    left: 20px;
    top: 30px;
}

.header-logo-title {
    width: 190px;
    height: 35px;
}

.burger {
    display: block;
    position: absolute;
    top: 49px;
    right: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.burger._active {
    transform: rotate(-90deg);
    transition: all .3s ease;
}

.menu-list {
    overflow: auto;
    position: absolute;
    width: 320px;
    height: 0;
    right: -320px;
    top: 0;
    background: #292929;
    transition: all 0.3s ease-out;
}

.menu-list._active {
   right: 0;
   height: 100%;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.ul-nav {
    display: flex;
    flex-direction: column;
    margin-top: 248px;
    gap: 40px;
}

.shadow._active {
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s ease-out;
    margin: -30px -20px -10px -20px;
}


.menu-item-white {
    font-size: 32px;
    line-height: 160%;
}

.menu-item {
    font-size: 32px;
    line-height: 160%;
}

      
#not-only {
    margin-top: -150px;
    padding-top: 150px;
}
            
.screen-content {
    height: 673px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
           
.not-only-img {
    width: 260px;
    height: 271px;
    margin-left: 40px;
    margin-top: 1px;
}
            
.not-only-img img {
    width: 260px;
    height: 271px;
}
        
.not-only-text {
    width: 300px;
    height: 296px;
    margin-bottom: 105px;
}
        
.not-only-textbox {
    width: 300px;
    height: 296px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    width: 200px;
    height: 64px;;   
    font-size: 25px;
    line-height: 130%;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}


#about {
    height: 974px;
  }
  
.about {
    padding: 42.23px 15px 42.4px 15px;
    width: 270px;
    height: 889.6px;
    flex-direction: column;
}
  
.about-img {
    width: 260px;
    height: 353.6px;
    margin: 0 5px;
    order: 2;
}

.about-img img {
    width: 260px;
    height: 353.6px;
}
  
.about-text {
    width: 270px;
    height: 494px;
    order: 1;
    margin-bottom: 42px;
}   
  
.about-par {
    margin-top: 22px;
    text-align: justify;
 
}
  
.about-title {
    width: 250px;
    height: 64px;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
}

       
        
#our-friends {
    max-height: 791px;
}
        
.our-friends {
    width: 300px;
    height: 707px;
    padding: 42px 0;
}

.our-friends-title {
    width: 300px;
    height: 64px;
    margin-bottom: 42px;
    padding: 0;
}

.our-friends-h2 {
    font-size: 25px;
}
            
.choose-pets {
    width: 270px;
    height: 507px;
    margin: 0 15px 42px 15px;
    display: flex;
    flex-direction: column;
}
        
.pets-wrappier {
    width: 270px;
    height: 455px;
}

.carousel {
    left: -270px;
  }

.pets-slide {
    height: 435px;
    margin: 0 0 20px 0;
    order: 1;
    gap: 0;
}


.left-arrow {
    margin: 0 0 0 43px;
    order: 2;
}

.right-arrow {
    margin: -52px 0 0 175px;
    order: 3;
}


.choose:first-child{
    width: 0; 
    height: 0;
    overflow: hidden;
}

.choose:last-child{
    width: 0; 
    height: 0;
    overflow: hidden;
}


@keyframes move-right {
    from {left: -270px;}
    to {left: -540px}
}

.transition-right {
    animation-name: move-right;
    animation-duration: 1s;
}

@keyframes move-left {
    from {left: -270px;}
    to {left: 0px}
}

.transition-left {
    animation-name: move-left;
    animation-duration: 1s;
}


.help {
    width: 300px;
    height: 661px;
    padding: 42px 0;
}

.help-title {
    width: 220px;
    height: 64px;
    font-size: 25px;
}

.help-text {
    width: 308px;
    width: 220px;
    height: 64px;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}



.help-list {
    width: 130px;
    height: 87px;
    align-content: flex-start;
}

.help-par {
    font-size: 15px;
    line-height: 110%;
}

.help-img img{
    max-height: 50px;
}

.help-icons {
    width: 290px;
    height: 555px;
    margin-top: 42px;
    justify-content: left;
    gap: 30px;
}


#in-addition {
    height: 542.2px;
}

.in-addition {
    max-width: 280px;
    height: 458.2px;
    padding: 42px 10px 42px 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.in-addition-img {
    width: 260px;
    height: 135.2px;
    padding: 42px 20px 0 20px;
    order: 2;
}

.in-addition-img img {
    width: 260px;
    height: 135.2px;
}

.in-addition-textbox {
    width: 300px;
    height: 281px;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.in-addition-title {
    width: 220px;
    height: 64px;
    font-size: 25px;
    text-align: center;
}


.in-addition-subtitle {
  
    width: 273px;
    height: 24px;
    letter-spacing: 0;
    display: flex;
   justify-content: center;
}

#credit-card {
    width: 281px;
    height: 43px;
    font-size: 15px;

    line-height: 110%;
}
     
.card {
    margin-right: 5px;
}
.in-addition-text {
    width: 280px;
    height: 90px;
    text-align: justify;
}

footer {
    height: 809px;
}

.footer-content {
    width: 300px;
    height: 779px;
    padding-top: 30px;

    display: flex;
    flex-direction: column;
}

.footer-content img {
    width: 260px;
    height: 269px;
    margin: 0 20px;
}

.contacts {
    width: 278px;
    height: 208px;
    margin: 0 11px 40px 11px;
    justify-content: flex-start;
    align-items: center;
}

.location {
    width: 302px;
    height: 234px;
    margin: 0 0 40px 0;
    justify-content: flex-start;
  
}

.footer img {
    width: 300px;
    height: 310px;
}

.contacts-title {
    width: 270px;
    height: 64px;
    margin: 0 15px 40px 15px;
    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
}

#footer-link-mail {
    margin-top: 3px;
    margin-bottom: 43px;
}

#footer-link-pin1 {
    margin-bottom: 40px;
}

.popup-content {
    width: 240px;
    min-height: 340px;
}


.popup-img {
display: none;
}

.popup-text {
    width: none;
    height: none;
    margin: 10px;
}

.popup-title {
    align-items: center;
    text-align: center;
}


.popup-subtitle {
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.popup-par {
    font-size: 13px;
    margin-bottom: 20px;
    text-align: justify;
}

.popup-ul {
    max-width: 180px;
}

ul {

margin-bottom: 0;
padding-left: 0;
height: auto;
}

.popup-content {
max-height: none;
}

.popup-close {
margin-left: 235px;
}
}  
